default: &default
  api_key: railwaymen # <- set some long secret value

core: &core
  container_name: evally_core_app
  host: http://localhost:3000

recruitable: &recruitable
  container_name: evally_recruitable_app
  database:
    host: localhost
    username: postgres
    password:
  host: http://localhost:3030

# ------------------------------------------------------------------------------------------------ #

development:
  <<: *default
  core:
    <<: *core
  recruitable:
    <<: *recruitable

test:
  <<: *default
  core:
    <<: *core
    host: http://testhost
  recruitable:
    <<: *recruitable
